.places {
    margin: 30px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit ,minmax(390px,1fr));
}

.places h1 {
    font-size: 30px;
    grid-column: 1 / -1;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ff5a5f;
    border-radius: 4px;
    justify-self: center;
}

.places article h2 {
    font-size: 30px;
    text-align: center;
}

.places article:last-child {
    grid-column: 1 / -1;
}